https://talentedge.com/ecornell/certificate-course-data-analytics-360
https://talentedge.com/esgci-school-of-management-paris/doctorate-of-business-administration-esgci
https://talentedge.com/iim-lucknow/advanced-program-in-strategic-management-for-business-excellence
https://talentedge.com/iim-raipur/post-graduate-executive-certification-in-human-resource-management-iimr-hr
https://talentedge.com/iim-kozhikode/professional-certificate-program-in-strategic-management
https://talentedge.com/iim-raipur/certificate-course-strategic-management
https://talentedge.com/iiit-allahabad/big-data-analytics-machine-learning-course-iiit-allahabad
https://talentedge.com/iim-raipur/certificate-course-strategic-management
https://talentedge.com/iiit-allahabad/machine-learning-and-big-data-analytics-for-professionals-with-prior-python-knowledge
https://talentedge.com/goa-institute-of-management/exectuive-pg-program-in-health-care-management